@model CarDealership.Models.Car
@{
    ViewBag.Title = "Details";
}
@* we need more details
    *@
<h1 style= "background-color:grey"> Vehicle Details</h1>

<body style="background-color:lightgrey">
    <div class="col-xs-4">
      <ul>

          <h5><strong>Make</strong></h5>
          <li> @Model.Make </li>
          <h5><strong>Model</strong></h5>
          <li> @Model.Model </li>
          <h5><strong>Model Year</strong></h5>
          <li> @Model.Year </li>
          <h5><strong>Description</strong></h5>
          <li> @Model.Description </li>
          <h5><strong>Asking Price</strong></h5>
          <li> @String.Format("{0:c}", Model.Price) </li>

      </ul>
        <h4>@Html.ActionLink("Click here to inquire about this car", "Contact", "Home", null, new { @style = "color:darkred" })</h4>
    </div>
    <div class="col-xs-8">
    <img src = @Model.ImageUrl>
    </div>  
    </body> 